@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker');
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "layout";

.header {
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-bottom: 3rem;
}

.jumbotron {
  position: relative;
  background: url(../images/skydive_2304x1032.webp) center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-bottom: 3rem;
  padding: 18rem 0 22rem;
  text-align: center;
}

.jumbotron h1 {
  font-family: "Permanent Marker", cursive;
}

.banner-text.text-center {
  padding: 18rem 0 22rem;
}

.socialicons {
  width: 100%;
  text-align: center;
}

.socialicons ul {
  margin: 2px auto;
  line-height: 1.4;
  padding-left: 0;
}

.socialicons li {
  display: inline;
  text-align: center;
}

.socialicons a {
  text-decoration: none;
  margin: 10px;
  padding: 2px 5px;
  text-align: center;
  white-space: nowrap;
}

.indexCard {
  width: 20rem;
  text-align: left;
  min-height: 25rem;
  margin-bottom: 1rem;
}